:root {
	--rgba-white-color: rgba(255, 255, 255, 0.8);
	--white-color: rgb(255, 255, 255);
	--text-color: rgb(18, 18, 18);
	--background-color: #f8e4c8;
	--second-background-color: #fcb69f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

/* SCROLL BAR */

body::-webkit-scrollbar-track,
#main__playlist::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar,
#main__playlist::-webkit-scrollbar {
	width: 0.6rem;
	background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb,
#main__playlist::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #000;
}

/* VOLUME */
.dashboard__track input {
	-webkit-appearance: none;
}
.dashboard__track input::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5rem;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background-color: #f8e4c8;
	border-radius: 25px;
}
.dashboard__track input::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.5rem;
}
.dashboard__track input:focus::-webkit-slider-runnable-track {
	background: #fcb69f;
	transition: 0.2s ease-in-out;
}
.dashboard__track input::-moz-range-track {
	width: 100%;
	height: 0.5rem;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #f8e4c8;
	border-radius: 25px;
	border: 0px solid #000101;
}
.dashboard__track input::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 7px;
	background: #f8e4c8;
	cursor: pointer;
}
.dashboard__track input::-ms-track {
	width: 100%;
	height: 0.5rem;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
}
.dashboard__track input::-ms-fill-lower {
	background: #f8e4c8;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.dashboard__track input::-ms-fill-upper {
	background: #f8e4c8;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.dashboard__track input::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 7px;
	background: #f8e4c8;
	cursor: pointer;
}
.dashboard__track input:focus::-ms-fill-lower {
	background: #fcb69f;
	transition: 0.2s ease-in-out;
}
.dashboard__track input:focus::-ms-fill-upper {
	background: #fcb69f;
	transition: 0.2s ease-in-out;
}
